*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: lightgray;
    
}
div{
    background-color:whitesmoke;
    width: 300px;
    height:500px;
    border: 1px solid black;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
}
.charminar{
    width: 50%;
    margin-bottom: 40px;
    border-radius: 100px;
}
h3{
    background-color: blue;
    border-radius: 5px;
    color: white;
    padding: 5px;
    width: 100px;
    margin: auto;
}
.logo{
    position: absolute;
    width: 50px;
    left: 850px;
    top:25px;
}
.insta{
    position: absolute;
    width: 50px;
    left: 610px;
    top:480px;
}