body{
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
    padding-bottom: 300px;
}
main{
    width: 800px;
    height: 600px;
    border: 5px solid;
}
.card{
    background-color: darkgray;
    border-radius: 1px;
}
.row{
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}