body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-around;
    background-color: black;
    flex-wrap: wrap;
}
nav img{
    padding-right: 100px;

}
nav ul{
    display: flex;
    list-style: none;
}
li{
    padding-right: 10px;
}
.cards{
    display: flex;
    justify-content: space-around;
}
.card img{
    box-shadow: 1px 1px 1px grey;
    border-radius: 50px;
}
