.body{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}
.parent{
    height: 400px;
    width: 700px;
    margin: auto;
    border:5px solid black;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.child1{
    width: 100px;
    height: 100px;
    background-color: red;
    flex-shrink: 1;
}
.child2{
    width: 100px;
    height: 100px;
    background-color: green;
    flex-shrink: 1;
}
.child3{
    width: 100px;
    height: 100px;
    background-color: blue;
    flex-shrink: 1;
}